SCRUM Logs/Week 1.txt
client/.gradle/8.8/gc.properties
client/.gradle/8.8/checksums/checksums.lock
client/.gradle/8.8/dependencies-accessors/gc.properties
client/.gradle/8.8/fileChanges/last-build.bin
client/.gradle/8.8/fileHashes/fileHashes.bin
client/.gradle/8.8/fileHashes/fileHashes.lock
client/.gradle/buildOutputCleanup/buildOutputCleanup.lock
client/.gradle/buildOutputCleanup/cache.properties
client/.gradle/vcs-1/gc.properties
